
/* CARD */

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.navbar .navbar-brand {
    /* Add the font-family */
    font-size: 40px;
    float:none;
    line-height: 30px;
  
}

.navbar-header {
    padding: 15px;
    text-align: center;
    width: 100%;
    display: inline-grid;
}

.form{
    /* Put the form in the center with  text-align:center; */
    width : 100%;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    /* Change the margin top/bottom and right/left of the card */
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    /* Change the background color of the card-block */
}

.card-img-top {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    /* Change the color of the text */
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    /* Change the background of the card-footer of the text */
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    /* Put text-decoration: none and see the difference */
    color: rgba(0, 0, 0, .87);
}

/* RESPONSIVE  */
@media screen and (max-width: 700px) { 
.navbar .navbar-brand .brand  {
     display: none;
}        
}




/* EFFECT */
body {
	width: 100wh;
	height: 90vh;
    color: #fff;
    /* Add more colors to the backgroung : go to https://htmlcolorcodes.com/fr/ to choose */
    background: linear-gradient(-45deg, red,blue);
	background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
